@import "tailwindcss";
@source "../features/**/*.{ts,tsx}";
@source "../components/**/*.{ts,tsx}";

@theme {
    /* Farmacia Xana */
    --color-xana-orange: #FF5500;
    --color-xana-blue: #0850fd;
    --color-cacao-100: #FFF3c4;
    --color-cacao-900: #4A2C2A;
    --color-cacao-950: #491800;
    --color-nube-950: #34221B
        /* Tipografía */
        --font-brand: "Poppins", system-ui, sans-serif;

    /* Sombras (Shadows) */
    --shadow-card: 0 10px 15px -3px rgb(0 0 0 / 0.05);
    --shadow-locator: 0 4px 20px -2px rgba(0, 0, 0, 0.05);

    /* Radios (Border Radius) */
    --radius-xl: 1.5rem;
    --radius-pharmacy: 2rem;

    /* Tipografía Poppins Bold 700 */
    --font-poppins: "Poppins", sans-serif;

    /* Medidas exactas de Figma */
    --text-64: 64px;
    --leading-56: 56px;
    --tracking-3: -0.03em;
    /* -3% de letter-spacing */
}